<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
       
        <aspNetCore requestTimeout="00:20:00" />
        <security>
            <requestFiltering>
                
                <!-- 1 GB -->
                <requestLimits maxAllowedContentLength="5368709120" />
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>